h1 {
    color: blue;
        }

h3 {
    color: blue;
        }

 #drugiodstavek {
          color: yellow;
 }
     .brown {
           color: brown;
           margin: 30px 50px;
 }

     .big {
           font-size: 130%;
     }